body {
  font-family: $body-font;
}

.subtitle {
  color:rgba(11, 72, 112, 0.8);
  padding: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
  // font-family: 'Old Standard TT', serif;
  font-family: $headers-font;
  text-align: left;
}

.title {
  padding: 20px 0 0 0;
  font-size: 30px;
  // font-family: 'Questrial', sans-serif;
  text-align: left;
}

.chart {
  width: 40px;
  height: 40px;
}

 .emotions {
  padding: 20px 0 0 0;
  font-size: 30px;
  font-family: 'Questrial', sans-serif;
  text-align: left;
 }

.chTitle {
  padding: 20px 0 5px 20px;
  color:rgba(11, 72, 112, 0.8);
  font-family: 'Old Standard TT', serif;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}
.tabs-underlined {
  .tab-underlined {
    color: black;
    padding: 8px;
    margin: 8px 16px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    display: block;
  }
  .tab-underlined:hover {
    opacity: 0.5;
  }
  .tab-underlined.active {
    opacity: 1;
    border-bottom: 3px solid #555555;
  }
}

.col-md-4 {
  padding: 20px 10px 10px 10px;
  margin: 80px 0 200px 0;
}
