.subtitle {
  color:rgb(126, 110, 110);
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.title {
  padding-top: 20px;
  font-size: 30px;
}

.chart {
  width: 40px;
  height: 40px;
}

.chTitle {
  padding: 20px 0 5px 220px;
  color:rgb(126, 110, 110);
}

.chsubTitle {
  padding: 20px 0 0 0;
  color:rgb(126, 110, 110);
}

.chsubTitle1 {
  padding: 0 0 20px 0;
  color:rgb(126, 110, 110);
}
