<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabelId">Upload photo</h3>
            </div>
            <div class="modal-body">
            <%= simple_form_for @user do |f| %>
              <%= f.input :avatar, as: :file %>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit class: 'btn btn-success btn-submit px-3 my-3 text-white', value: 'Upload!' %>
            <% end %>
            </div>
            </div>
        </div>
    </div>
</div>
