
body {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg,#7daef8, #f8f8fd);
}

.btn-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-container h1 {
  font-size: xx-large;
  margin: none;
}

.btn-container p {
  font-style: oblique;
}

#power-btn {
 background-color: aliceblue;
 min-width: 100px;
 align-self: center;
 padding: 10px 0px;
 border-radius: 5px;
 box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.5);
}
