.btn-green {
  display: inline-block;
  color: white;
  border-radius: 4px;
  padding: 16px 120px;
  background-color: rgba(71, 221, 93, 0.8);
  box-shadow: 0 5px 5px rgba(11, 11, 15, 0.2);;
}

.btn-blue {
  display: inline-block;
  color: white;
  border-radius: 4px;
  padding: 16px 120px;
  background-color: rgba(11, 72, 112, 0.8);
  box-shadow: 0 5px 5px rgba(11, 11, 15, 0.2);;
}

.btn-green:hover {
  background-color: rgba(141, 255, 158, 0.8);
}

.btn {
  position: relative;
}
