/* Your card CSS file */
.card-category {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 180px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card-product {
  height: 200px;
  color: rgb(29, 29, 29);
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-product img {
  height : 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.card-info {
  padding: 16px;
}

.card-trip {
  width: 31%;
  /* font-weight: bold; */
  font-size: 18px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.trip-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: 50% 50%;

}

.card-trip-infos {
  position: relative;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-trip-infos img {
  top: -25px;
  right: 50px;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}
